<li id="recipe-<%= recipe.id %>">
  <%= link_to gravatar_for(recipe.user, size: 50), recipe.user %>
  <span class="name"><%= link_to recipe.name, recipe_path(recipe) %></span>
  <span class="price">値段(Tall)：<%= recipe.price %>円</span>
  <span class="description"><%= recipe.description %></span><br>
  <span class="drink"><%= recipe.drink %></span>
  <span class="popularity">おすすめ度:<%= recipe.popularity %></span><br>
  <span class="timestamp">
    <%= time_ago_in_words(recipe.created_at) %>前に投稿
  </span>
</li>