<% provide(:title, "#{@recipe.name}") %>
<div class="container">
  <div class="row">
    <div class='col-md-4'>
      <span class="picture">
        <%= link_to((image_tag @recipe.picture.url), recipe_path(@recipe.id), class: 'recipe-picture') if @recipe.picture.url.present? %>
      </span>
    </div>
    <div class='col-md-8'>
      <h2 class="recipe-name"><%= @recipe.name %></h2>
      <div class="change-recipe">
        <% if current_user == @recipe.user %>
          <%= link_to "カスタムを編集", edit_recipe_path(@recipe), class: 'edit-recipe' %>　
        <% end %>
        <% if current_user.admin? || (current_user == @recipe.user) %>
        　<%= link_to "削除", recipe_path(@recipe), method: :delete, class: 'delete-recipe', data: { confirm: "本当に削除しますか？" } %>
        <% end %>
      </div>
      <h4 class="recipe-price"><%= @recipe.price %></h4>
      <h4><%= @recipe.description %></h4>
      <h4 class="recipe-drink"><%= @recipe.drink %></h4>
      <div class="show-recipe-other-info">
        <div class="recipe-info">
          <h5>おすすめ度：</h5><h4><%= @recipe.popularity %></h4>
        </div>
      </div>
    </div>
  </div>
</div>